.box {
  background-color: #D8D8D8;
  box-sizing: border-box;
  padding: 5px 20px;
  margin: 10px 0px;
}

.nav-menu {
  background-color: white;
}

.nav-menu-item {
  border-bottom: 1px solid #e7e7e7;
}